* {
    margin:0;
    padding:0;
}
.navbar{
    background-color:white;
    box-shadow:0 0 15px black;
    height:50px;
    width:100%;
    position:sticky;
    top:0;
    z-index:10000;
    transition: background-color 0.3s, color 0.3s;
}
ul{
    display:flex;
    list-style:none;
    gap:40px;
    transition: background-color 0.3s, color 0.3s;
}
.logo{
    height:150px;
    position:relative;
    top:-50px;
    transition: background-color 0.3s, color 0.3s;
}
.mode{
    position:absolute;
    top:10px;
    height:30px;
    right:30px;
    transition: background-color 0.3s, color 0.3s;

}
body.dark{
    background-color:black;
    color:white;
    }
.modebutton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
body {
  transition: background-color 0.3s, color 0.3s;
}
body.dark .navbar{
    background-color:black;
    box-shadow:0 0 15px white;
}
.mode {
  transition: transform 0.3s ease, filter 0.3s ease;
}

body.dark .mode {
  transform: rotate(180deg);
  filter: invert(1);
}
